<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Microsoft Teams Hello World Sample App</title>
        <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
        <link rel="stylesheet" type="text/css" href="/styles/custom.css">
        <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
        <script src="/scripts/teamsapp.js"></script>
    </head>
    <body class="theme-light">
        <div class="surface">
            <div class="panel">
                <h1>Create a team</h1>
                <div>
                    <form method="get" action="/table">
                        <input id="teamNameInput" placeholder="Enter team name" name="teamName"/>
                        <button id="createTeamButton" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <script src="/scripts/create-team.js"></script>
    </body>
</html>
