<!DOCTYPE html>
<html lang="en">

    <head>
        <title>
            Microsoft Teams Hello World Sample App
        </title>
        <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
        </link>
        <link rel="stylesheet" type="text/css" href="/styles/custom.css">
        </link>
        <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
        <script src="/scripts/teamsapp.js"></script>
    </head>

    <body class="theme-light">
        <div class="surface">
            <div class="panel">
                <div class="font-semibold font-title">Team Name
                    <p>
                    <div>
                        <input id="locationInput" placeholder="Employee location" name="location"/>
                        <button id="addLocationButton">Add</button>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>
